.App {
    text-align: center;
    background: #04163e;
    width: 100%;
    height: 100%;
}

.body {
    width: 100%;
    height: 100%;
    position: absolute;
}

.container {
    width: 500px;
    height: 500px;
    position: relative;
    margin: auto;
    background: #8d8b8b;
}

.rectangle {
    position: absolute;
    width: 50px;
    height: 100px;
    background: red;
    top: -50px;
    left: -25px;
}


.circle {
    position: absolute;
    width: 20px;
    height: 20px;
    background: #55e55e;
    border-radius: 10px;
    top: -10px;
    left: -10px;
}

.prejector{
    background: black;
}
.prejector_rotated{
    background: purple;
}